@use '~@matteusan/sentro' with ($prefix: 'clm', $context: 'token');
@use 'env';

// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');

:root {
  @include sentro.token-add($map: env.$colors);
}

$header-sizes: env.$header-sizes;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

h1,
h2,
h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: sentro.token-get('surface-dark');
  color: sentro.token-get('surface-ink');
}

.content-wrap {
  width: calc(100% - 30px);
  max-width: 1077px;
  margin: 0 auto;
  padding: 25px 0;
}
